body {
    background: #000;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    flex-direction: column;
    video {
        border: solid 1px #fff;
    }
    button {
        padding: 5px 10px;
        border-radius: 5px;
        border: solid 1px #050;
        background: linear-gradient(0deg, #090, #0f0);
        color: #fff;
        font: 16px Verdana;
        text-shadow: 1px 1px 2px #050;
        cursor: pointer;
        margin-top: 20px;
        position: relative;
        &:hover {
            background: linear-gradient(0deg, #0C0, #2f2);
        }
        &:active {
            top: 1px;
        }
        &:disabled {
            background: linear-gradient(0deg, #777, #ccc);
        }
    }
    canvas {
        margin-top: 20px;
        border: solid 1px #fff;
    }
}